<section>
    <form class="form" [formGroup]= "formGroup">
        <div class="control-form">
            <label>Correo electrónio:</label>
            <input formControlName="email" type="email" name="emailText"/>
        </div>
        <div class="control-form">
            <label>Contraseña:</label>
            <input formControlName="password" type="password" name="passwordText"/>
        </div>
            <button (click)="login()" [disabled]="formGroup.invalid" >Login</button>
    </form>
</section>
